

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f8f3eb;
  color: #484847;
  padding-bottom: 5rem;
}

img {
  display: block;
  max-width: 100%;
}
div.gallery {
    margin: 6%;
    float: left;
    width: 180px;
}

.responsive-wrapper {
  width: 95%;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left svg {
  max-height: 40px;
  width: auto;
}

.header-middle {
  display: none;
}
@media (min-width: 1200px) {
  .header-middle {
    display: block;
  }
}

.header-right {
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav {
    display: block;
  }
}

.header-link {
  color: #000;
  text-decoration: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  display: none;
  font-weight: 500;
  display: inline-block;
}
.header-link--button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.25rem;
}
.header-menu-button {
  margin-left: 0.75rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
  position: relative;
  padding-right: 30px;
  font-weight: 500;
}
.header-menu-button:after, .header-menu-button:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: currentcolor;
  right: 0;
  top: 8px;
}
.header-menu-button:after {
  top: 16px;
  width: 12px;
  right: 8px;
}

.judul {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
  }
  .judul h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    position: relative;
  }
  .judul h1:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 2px;
    background-color: currentcolor;
  }
.article-author {
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }
  
  .article-author-img {
    width: 120%;
    height: 120%;
    border-radius: 12px;
    background-color: #323232;
    overflow: hidden;
    background-blend-mode: multiply;
  }
  .article-author-img + .article-author-info {
    margin-left: 0.5rem;
  }
  
  .article-author-info {
    line-height: 1.375;
  }
  .article-author-info dl {
    margin-top: 0.25em;
  }
  .article-author-info dt {
    font-weight: 600;
  }
  .article-author-info dd {
    font-size: 0.875em;
  }

