@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap");

*,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #f8f3eb;
    color: #484847;
    padding-bottom: 5rem;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .responsive-wrap {
    width: 95%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .header-middle {
    display: none;
  }
  @media (min-width: 1200px) {
    .header-middle {
      display: block;
    }
  }  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-nav {
    display: none;
  }
  @media (min-width: 1200px) {
    .header-nav {
      display: block;
    }
  }
  
  .header-link {
    color: #000;
    text-decoration: none;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    display: none;
    font-weight: 500;
    display: inline-block;
  }
  .header-link--button {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.25rem;
  }
  .header-menu-button {
    margin-left: 0.75rem;
    border: 0;
    padding: 0;
    background-color: transparent;
    font: inherit;
    position: relative;
    padding-right: 30px;
    font-weight: 500;
  }
  .header-menu-button:after, .header-menu-button:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: currentcolor;
    right: 0;
    top: 8px;
  }
  .header-menu-button:after {
    top: 16px;
    width: 12px;
    right: 8px;
  }
  .judul {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
  }
  .judul h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    position: relative;
  }
  .judul h1:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 2px;
    background-color: currentcolor;
  }
  .judul-det {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
  }
  .judul-det h1 {
    font-size:3em;
    font-weight: 700;
    text-align: center;
    position: relative;
  }
  .judul-det h1:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 2px;
  }
  .post {
    min-height: 100vh;
    width: 100%;
    border: 0.5em solid #fff;
  }
  @media (min-width: 54em) {
    .post {
      display: flex;
      height: 100vh;
      min-height: 40em;
    }
  }
  .post > *:first-child {
    position: relative;
    height: 14em;
    background-color: #000;
  }
  @media (min-width: 30em) {
    .post > *:first-child {
      height: 18em;
    }
  }
  @media (min-width: 54em) {
    .post > *:first-child {
      flex-basis: 50%;
      max-width: 50%;
      height: auto;
    }
  }
  @media (min-width: 76.5em) {
    .post > *:first-child {
      flex-basis: 60%;
      max-width: 60%;
    }
  }
  @media (min-width: 54em) {
    .post > *:last-child {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 76.5em) {
    .post > *:last-child {
      flex-basis: 40%;
      max-width: 40%;
    }
  }
  .post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    overflow-y: auto;
    -webkit-animation: fade-in 0.6s ease-in-out both 0.3s;
    animation: fade-in 0.6s ease-in-out both 0.3s;


  }
  .post-konten {
    margin-top: -12%;
    padding: 4em 0;
  }
  @media (min-width: 60em) {
    .post-konten {
      padding: 6em 4em;
    }
  }
  .post-kesulitan {
    display: inline-block;
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .post-nama {
    overflow: hidden;
  }
  .post-nama span {
    display: inline-block;
  }
  .post-text {
    text-align: justify;
    font-weight: 300;
  }
  .post-link {
    text-align: right;
  }
  
  /**
   * Helpers
   */
  .absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  /**
   * Animations
   */
  @-webkit-keyframes slide-in {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slide-in {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes slide-up {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }  
.video-sec {
    width: 85%;
    margin: 3em auto;
    text-align: left;

}
.video-sec-middle {
    grid-template-columns: repeat(5,1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    padding: 20px 0;

}
.video-sec-middle #container {
  display:block;
}
.thumb-wrap {
    display: inline;
    cursor: pointer;
}
.thumb {
    display: block;
    margin: .4em;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
    transition: all .2s ease-in-out;
    object-fit: cover; 
}
.thumb:hover {
    opacity: .8;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}
.thumb-info {
    display: inline-block;
    height: 20%;
    width: 100%;
    padding: .4em;
}
.thumb-title {
    color: #3e3e3e;
    margin: 0;
    font-size: 1.2em;
}
.thumb-user {
    color: #7e7e7e;
    display: block;
    margin: 0;
    font-size: .9em;
}
.thumb-text {
    color: #7e7e7e;
    display: inline-block;
    margin: 0;
    font-size: .8em;
}
.video-sec-title {
    font-weight: bolder;
    font-size: 1.4em;
    color: #f5f5f5;
    margin: 5px 0 10px 10px;
}
.article-author {
  display: flex;
  flex-wrap: wrap;
}

.article-author-img {
  width: 3rem;
  height: 3rem;
  border-radius: 12px;
  background-color: #323232;
  overflow: hidden;
  background-blend-mode: multiply;
}
.article-author-img + .article-author-info {
  margin-left: 0.5rem;
}

.article-author-info {
  line-height: 1.375;
}
.article-author-info dl {
  margin-top: 2%;
}
.article-author-info dt {
  font-weight: 600;
}


@media only screen and (max-width: 1456px) {
    .video-sec-middle {
        grid-template-columns: repeat(4,1fr);
    }
}
@media only screen and (max-width: 1024px) {
    .video-sec-middle {
      grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width: 756px) {
  .video-sec-middle {
   grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 496px) {
  .video-sec-middle {
   grid-template-columns: repeat(1,1fr);
  }
}



